{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": false,
  "semi": false,
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "endOfLine": "auto"
}
